version: "3.8"

services:
  # --- Backend Spring Boot ---
  backend1:
    image: danielv28/tingeso_backend:latest 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      SERVER_PORT: 8090
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://localhost:9090/realms/toolrent-realm
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:9090/realms/toolrent-realm
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://host.docker.internal:9090/realms/toolrent-realm/protocol/openid-connect/certs
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - toolrent-network

  backend2:
    image: danielv28/tingeso_backend:latest
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      SERVER_PORT: 8090
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI: http://localhost:9090/realms/toolrent-realm
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:9090/realms/toolrent-realm
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://host.docker.internal:9090/realms/toolrent-realm/protocol/openid-connect/certs
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - toolrent-network

  # --- Frontend React ---
  frontend1:
    image: danielv28/tingeso_frontend:latest
    container_name: frontend1
    networks: 
      - toolrent-network

  frontend2:
    image: danielv28/tingeso_frontend:latest
    container_name: frontend2
    networks: 
      - toolrent-network
  # --- Nginx Proxies ---
  nginx-frontend:
    image: nginx:latest
    container_name: nginx-frontend
    ports:
      - "5173:80" # Host 5173 -> Nginx 80 (Asegúrate que nginx-frontend.conf escuche en 80)
    volumes:
      - ./nginx-frontend.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend1
      - frontend2
    networks: 
      - toolrent-network

  nginx-backend:
    image: nginx:latest
    container_name: nginx-backend
    ports:
      - "8090:8090" # Host 8090 -> Nginx 8090 (Asegúrate que nginx-backend.conf escuche en 8090)
    volumes:
      - ./nginx-backend.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend1
      - backend2
    networks: 
      - toolrent-network

networks:
  toolrent-network:
    driver: bridge